*{
    color: blue;
}
p {
    color: red;
}

label {
    color: darkgoldenrod;
}

h1 {
    color: aquamarine;
    font-size: large;
    border: solid blueviolet;
    padding: 10px 20px 10px 20px;
    font: 5px, "Arial"

}

h2{
    color: palegreen;
    border: solid palegreen;
    margin: 15px 15px 20px 20px
}

html{
    background-color: black;
}

section{

    border: solid magenta;
    padding: auto;
    width: 150px;
    height: 150px;
    margin: 10px 10px 10px 20px;

}